<h1>Questions#ask</h1>
<form action="answer" method="get">
  <label for="name">Ask your coach anything:</label>
  <input type="text" name="name" >
  <input type="submit" value="Ask!">
</form>
<!-- action="answer" because the submit action leads to the answer -->

